*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: linear-gradient(180deg, rgba(65,88,208,1) 0%, rgba(200,80,192,1) 46%, rgba(255,204,112,1) 100%);
    background-repeat: no-repeat;
}
.container{
    width: 1100px;
    margin: auto;
}
img{
    width: 100%;
}
a {
    text-decoration: none;
}

button {
    padding: 0.6em 1em;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    width: fit-content;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pink {
    color: deeppink;
}

.x_large {
    font-size: x-large;
}

.small_padding {
    padding: 1em 6em;
}

.large_padding {
    padding: 3em 13em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.large_padding p {
    text-align: center;
}

main {
    background-color: white;
    margin: auto;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

h2 {
    text-transform: capitalize;
}

h5 {
    text-transform: uppercase;
    margin: 1em 0.2em 0 0;
    
}

/* HEADER */

#page_header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Hnav{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding: 0 6em;
}

.Hnav ul{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0;
    margin: 0;
    position: relative;
    margin-left: 60px;
    gap: 30px;
}

.Hnav ul li{
    align-self: center;
}
.Hnav ul li a{
    text-decoration: none;
    color:#E5E4E2;
    text-transform: uppercase;
    font-weight: bold;
    font-size: small;
}
.cat{
    max-width: 80px;
}

.burger:hover {
    cursor: pointer;
    background-color: rgb(255,255,255,0.3);
}

.burger:focus {
    background-color: rgb(255,255,255,0.3);
}

.burger {
    padding: 0.5em;
    color: white;
    border: 1px solid white;
    font-size: large;
    margin-left: 10px;
}
/* FIRST SECTION AHEAD */

.section1{
    background-image: url(img/foret.jpg) ;
    height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    gap: 30px;
    
}
.title1{
    max-width:700px;
    text-align: center;
    text-transform: uppercase;
    font-size:x-large;
    font-weight: bolder;
    color:#E5E4E2;
}
.p1{
    max-width: 700px;
    text-align: center;
    font-size: x-large;
    color: #E5E4E2;
}
#more{
    display: none;
}
#myBtn{
    background-color: transparent ;
    border-style: solid;
    color: white;
    font-size: larger;
}


/* SECOND SECTION AHEAD */

.section2{
    background-color: white;
    height:auto;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    padding: 0 7em;
    gap: 2em;
}
.section2 div{
    max-width: 300px;
}
.section2 h2{
    font-size: xx-large;
}

.FP{
    font-size: larger;
    font-weight: bold;
}
.font{
    display: flex;
    align-items: center;
}
.fa-brands.fa-wordpress{
    font-size: 30px;
    color: darkviolet;
}
.fa-solid.fa-gear{
    font-size: 30px;
    color: darkviolet;
}
.fa-solid.fa-paper-plane{
    font-size: 30px;
    color: darkviolet;
}
.font i{
    margin-right: 10px;
}
.firstP{
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
    margin-block-start: 0;
}
.secondP{
    margin-top: 0;
    color: grey;
    margin-block-end: 0;
    
}
.div3-S2{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.accordion{
    margin-top: 26px;
}
.accordion > div{
    border: 1px solid gray;
    margin: 5px;
    padding: 5px;
    display: flex;
    align-items:baseline;
    justify-content: space-evenly;
}

.accordion i{
    margin-right: 10px;
    color: darkviolet;
}
.slt{
    display: none;
}

/* THIRD SECTION AHEAD */

.section3{
    background-color: white;
}
#gallery{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    list-style: none;
    padding: 0;
    margin: 0;
    grid-auto-rows: 0px;
    overflow-y: hidden;
}
#gallery figure{
    max-width: max-content;
    max-height:max-content;
    gap: 0;
    margin: 0;
}
#gallery img{
    height: 260px ;
    width: 260px;
    object-fit: cover; 
    object-position: center;
    border: none;
}
#gallery iframe{
    height: 260px ;
    width: 260px;
    object-fit: cover; 
    object-position: center;
}
#gallery_actions{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0 7em;
    padding-bottom: 10px;
}

#gallery_actions div{
    list-style: none;
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    padding: 0;
    margin: 0;
    position: relative;
    margin-left: 60px;
    gap: 30px;
}

#gallery_actions div button{
    align-self: center;
}
#load{
    max-width: fit-content;
}
#gallery_actions button{
    background-color: transparent ;
    border: none;
}
.filter_button {
    border: none;
    color: lightgrey;
}
#load{
    border: 1px solid grey;
}
.filter_button:hover {
    color: gray;
}
.filter_button.active {
    color: deeppink;
}
#gallery_actions>button {
    border-color: deeppink;
    color: deeppink;
}
/* SECION 4 AHEAD */

#testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid whitesmoke;
    background-color: white;
    
}
.section_header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dash {
    width: 4em;
    margin-top: -0.8em;
    border-top: 3px solid deeppink;
}
.testimonial {
    
    display: flex;
}
.testimonial p {
    margin: 24px;
}

#testimonials button {
    border-color: deeppink;
    color: deeppink;
}

.profile {
    width: 5em;
    height: auto;
    object-fit: contain;
}

#mid {
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
}

.italic {
    font-style: italic;
}

.text_right {
    text-align: end;
}

.small {
    font-size: smaller;
}

.larger {
    font-size: larger;
}
.become_client{
    background-color: transparent ;
    
    color:grey;
    font-size: larger;
}

#commercial {
    height: 22em;
    color: white;
    background-image: url(img/stars.gif);
    background-repeat: no-repeat;
    background-size: cover;
   
}

#commercial>button {
    border-color: deeppink;
    color: white;
}
#contact {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#contact form {
    margin: 2em 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.form_column{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form {
    display:flex;
    flex-direction: column;
}

.required:after {
    content: " *";
    color: deeppink;
}

label {
    text-transform: uppercase;
}

.form_column button {
    border-color: deeppink;
    background-color: deeppink;
    color: white;
}

.form input {
    height: 2em;
    border: none;
    background-color: #EEEEEE;
}

.form textarea {
    height: 6.6em;
    border: none;
    background-color: #EEEEEE;
}

footer p, footer a {
    font-size: smaller;
}

#about_us {
    position: relative;
    display: grid;
    s
    gap: 2em;
    color: white;
    background-color: black;
}

.small_dash {
    width: 2em;
    margin-top: 0.5em;
    border-top: 3px solid deeppink;
}

article form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

article form input {
    font-style: italic;
    height: 2.5em;
    padding-inline-start: 1em;
    background-color: rgb(116, 114, 114, 0.5);
}

article form button {
    background-color: transparent;
    border-color: deeppink;
    color: white;
}

::placeholder {
    margin: 0.3em;
    color: white;
}

#angle_up {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1em;
    border: none;
    font-size: large;
    color: lightgray;
}

#angle_up:hover {
    color: white;
}

/* ------------------------ */

#footer_nav {
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    color: white;
}

#footer_nav div {
    display: flex;
    gap: 1em;
}

#footer_nav div a {
    color: white;
}

@media (max-width:860px){
    body{
        background: none;
    }
    .container{
        background: linear-gradient(90deg, rgba(65,88,208,1) 0%, rgba(200,80,192,1) 46%, rgba(255,204,112,1) 100%);
    background-repeat: no-repeat;
    width: 412px;
    }
    #page_header{
        padding: 0;
    }
    .Hnav{
        display: block;
    }    
    .Hnav ul{
        display: block;
        width: auto;
    }
    .burger{

        position:absolute;
        top: 20px;
        right: 20px;
    }
    #logo_container{
        display: none;
    }
    .section1{
        padding: 0;
    }
    .section2{
        grid-template-columns: 1fr;
    }
    #contact form{
        grid-template-columns: 1fr;
    }
    #about_us{
        grid-template-columns: 1fr;
    }
}